*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;  
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content:flex-end;
}
header nav .nav-right-section{
    width: 230px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav .nav-right-section a{
    margin-right: 10px;
    color:black;
}

nav .nav-right-section .menu-icon{
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -132px -38px;
    width: 30px;
    height: 30px;
    cursor: crosshair;
}

nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 80px;
    text-align: center;
}

main .main-logo{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    height:83px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container{
    width: 525px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #dfe1e5;
}
main .main-input-container input{
    height: 40px;
    width: 450px;
    outline: none; /* line outside the text box */
    border: none;
}
main .main-input-container:hover{
 box-shadow: 0 1px 6px 0 #20212447;
 border-color: #dfe1e500;
}
main .main-input .search-icon{
    opacity: 0.5;
    height: 32px;
    margin-top: 10px;
    width: 19px;
    background-repeat: no-repeat;
    background-image: url(https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png);
    background-size: contain;
    margin-left: 7px;
}
main .main-input .micro-icon{
    
    height: 30px;
    width: 14px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-size: contain;
    margin-right: 7px;
}
